/*body {*/
  /*min-height: 100%;*/
/*}*/

/*.navbar-static-top {*/
  /*margin-bottom: 0px;*/
/*}*/

/*.div-button{*/
    /*background-color: #0000;*/
/*}*/

.suitable {
  width: fit-content;
}

.btn-a{
  display: inline;
  margin-left: 2px;
  padding-right: 100px;
  float: left;
}

.btn-b{
  float: left;
}


